h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: dodgerblue;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    color: #00001a;
}

hr { 
    color: gray;
}

#searchBtn {
    background-color: #e60000;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    display: inline-block;
}

main {
    background-color: #9494b8;
}

input[type=text], select {
    width: 50%;
    padding: 10px 25px;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    float: center;
}